<!-- ** NAVBAR ** -->
<nav class="navbar navbar-expand-md 
  navbar-light bg-light fixed-top"
>

  <!-- BRAND -->
  <a class="navbar-brand" routerLink="/" >MEAN</a>

  <!-- NAVBAR -->
    <button class="navbar-toggler" 
      type="button" 
      data-toggle="collapse" 
      data-target="#navbarsExampleDefault" 
      aria-controls="navbarsExampleDefault" 
      aria-expanded="false" 
      aria-label="Toggle navigation" 
      (click)="isCollapsed = !isCollapsed"     
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Collapse -->
    <div class="collapse navbar-collapse" 
      id="navbarsExampleDefault"
      [ngbCollapse]="isCollapsed"
    >
      <ul class="navbar-nav mr-auto" 
      >

        <!-- Home Link -->
        <li routerLinkActive="nav-item active">
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>   
        
        <!-- Products Link -->
        <li routerLinkActive="nav-item active">
          <a class="nav-link" routerLink="/products">
            Products 
            <span class="sr-only">(current)</span>
          </a>
        </li>   

        <!-- Login Link -->
        <li routerLinkActive="nav-item active"
          *ngIf="!authService.isLoggedIn()"
        >
          <a class="nav-link" routerLink="/login">Login</a>
        </li>

        <!-- Admin Link -->
        <li routerLinkActive="nav-item active"
          *ngIf="authService.isLoggedIn() && authService.currentUser.admin"
        >
          <a class="nav-link" routerLink="/admin">Admin</a>
        </li>

        
        <!-- Register Link -->
        <li routerLinkActive="nav-item active"
          *ngIf="!authService.isLoggedIn()"
        >
            <a class="nav-link" routerLink="/register">Register</a>
        </li>

        <!-- Logout Link -->
        <li routerLinkActive="nav-item active"
          *ngIf="authService.isLoggedIn()"
        >
            <a class="nav-link" 
              routerLink="/logout"
              (click)="authService.logout()"
            >
              Logout
            </a>
        </li>

        <!-- DROPDOWN MENU -->
        <li class="nav-item dropdown show" 
          ngbDropdown 
        >
          <a class="nav-link dropdown-toggle" 
            id="dropdown01" 
            data-toggle="dropdown" 
            aria-haspopup="true" 
            aria-expanded="false"
            *ngIf="authService.isLoggedIn() && authService.currentUser.admin"
            ngbDropdownToggle
          >
            Admin 
          </a>
          <div class="dropdown-menu show" 
            aria-labelledby="dropdown01"
            ngbDropdownMenu
          >
            <!-- Dropdown Item Admin Manage Product -->
            <a class="dropdown-item" 
              *ngIf="authService.isLoggedIn() && authService.currentUser.admin"
              routerLink="/admin/products"
            >
              Manage Products
            </a>
            
            <!-- Dropdown Item Admin Product Form -->
            <a class="dropdown-item" 
              *ngIf="authService.isLoggedIn() && authService.currentUser.admin"
              routerLink="/admin/product/new"
            >
              Register Product 
            </a>

            <!-- Dropdown Item Admin Product Category Form -->
            <a class="dropdown-item" 
              *ngIf="authService.isLoggedIn() && authService.currentUser.admin"
              routerLink="/admin/product/category"
            >
              Add Product Category  
            </a>

          </div>
        </li>

      </ul>

      
    </div>
  
</nav>
