<p>
  <a class="btn btn-primary"
    routerLink="/admin/product/new"
  >
    New Product 
  </a>
</p>
<p>
  <input type="text" 
    class="form-control" 
    placeholder="Search ..."
    #query
    (keyup)="filter(query.value)"
  >
</p>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of filteredProducts">
      <td>{{ product.title }}</td>
      <td>{{ product.price | currency: 'RM'}}</td>
      <td>
        <a type="button" 
          class="btn btn-primary" 
          [routerLink]="['/admin/product/', product._id]"
        >
          Edit Product
        </a>
      </td>
    </tr>
  </tbody>
</table>